doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title Atributos
	body
		nav
			ul
				//atributos en Linea
				li
					a(href='https://www.google.es/maps', target="_blank", class="link") Google Maps
					
				li
					a(href='https://translate.google.com/?hl=es', target="_blank", class="link") Google Translate
					// Atributos Multi Linea
					li
						a(href="http://images.google.com" target='_blank' class='link') Google Images


		