doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title Atributos
		h1.fx Estilos CSS
		
	style.
		h1.fx {
		background: Linear-gradient(to top, peru, orange);
		border-radius: 8px;
		box-shadow:  1px 2px 12 px 0px peru;
		color: white;
		font-family: Arial sans-serif;
		height: 200px;
		padding: 20px;
		margin: 120px auto;
		text-align: center;
		transition: all 1s ease;
		width: 240px;
		}
		h1.fx:hover{
			transform:scale(1.4);

		}
		body
			h1.fx Estilos CSS
