doctype
html(lang="es")
		head
			meta(charset="UTF-8")
			title Casos
			body
				h1 Casos
				- var seguidores = 120
				case seguidores
					when 0
					when 1
						p Usted tiene muy poco seguidores
					when 2
						p Usted tiene muchos #{seguidores} seguidores
					default 
						p Usted tiene muchos seguidores