doctype
html(lang="es")
	include includes/header.pug
	body
		h1 Incluir PUG
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iure, doloribus corporis alias, est voluptates, quo nam officia nihil quaerat numquam, laudantium perferendis perspiciatis. Enim id ratione aut saepe impedit tempora sed sint dolorem explicabo, labore consequatur iure numquam necessitatibus consequuntur! Accusantium aut, soluta quis.

		include includes/footer.pug
